<!--<div>-->
    <!--<strong>Here is more stuff ^_^</strong><br />-->
    <!--<em>{{title}}</em>-->
<!--</div>-->
<div id="kiosk-page">
    <div class="center-items" style="width: 100%">
        <div class="column">
            <h3>Top Guys</h3>
            <div>
                <select class="cf-select" [(ngModel)]="selectedMaleSection">
                    <option *ngFor="let section of classSections" [value]="section">
                        {{section.display}}
                    </option>
                </select>

                <select class="cf-select" [(ngModel)]="selectedMaleClassTime">
                    <optgroup label="Classes">
                        <option *ngFor="let classTime of classTimes" [value]="classTime">{{classTime | date:'hh:mma'}}</option>
                    </optgroup>
                    <optgroup label="Timespan">
                        <option>Morning</option>
                        <option>Evening</option>
                        <option>All Day</option>
                    </optgroup>
                </select>
            </div>
            <hr class="red-divider" />
            <div class="list">
                <div class="list-item" *ngFor="let athlete of maleAthletes">
                    <div class="list-avatar">
                        <img src="/assets/images/avatars/{{athlete.avatarId}}.jpg" class="icon-rounded-avatar"/>
                    </div>
                    <div class="list-description">
                        <h2 class="list-row">{{athlete.name.first}} {{athlete.name.last}}</h2>
                        <p class="list-row">Score Info</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <h3>Top Gals</h3>
            <div>
                <select class="cf-select" [(ngModel)]="selectedFemaleSection">
                    <option *ngFor="let section of classSections" [value]="section">
                        {{section.display}}
                    </option>
                </select>

                <select class="cf-select" [(ngModel)]="selectedFemaleClassTime">
                    <optgroup label="Classes">
                        <option *ngFor="let classTime of classTimes" [value]="classTime">{{classTime | date:'hh:mma'}}</option>
                    </optgroup>
                    <optgroup label="Timespan">
                        <option>Morning</option>
                        <option>Evening</option>
                        <option>All Day</option>
                    </optgroup>
                </select>
            </div>
            <hr class="red-divider" />
            <div class="list">
                <div class="list-item" *ngFor="let athlete of femaleAthletes">
                    <div class="list-avatar">
                        <img src="/assets/images/avatars/{{athlete.avatarId}}.jpg" class="icon-rounded-avatar"/>
                    </div>
                    <div class="list-description">
                        <h2 class="list-row">{{athlete.name.first}} {{athlete.name.last}}</h2>
                        <p class="list-row">Score Info</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <h3>Input Scores</h3>
            <br />
            <hr class="red-divider" />
<!--            <input type="text" /><br />
            <md-input-container>
                <input md-input placeholder="Rawr" />
            </md-input-container>-->
            <ul class="text-left-align">
                <li>
                    Inputs for adding scores:
                    <ul>
                        <li>Athlete profile</li>
                        <li>Section (strength/wod)</li>
                        <li>Numeric inputs</li>
                        <li>Comment section?</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="column">
            <h3>News & Announcements</h3>
            <br />
            <hr class="red-divider" />
            <ul class="text-left-align">
                <li>Could be Facebook feed</li>
                <li>Maybe Wordpress blog feed?</li>
                <li>Possible custom content</li>
                <li>All of the above? <em>*gasp*</em></li>
            </ul>
        </div>
    </div>
</div>
