<!--<div>-->
    <!--<strong>Here is more stuff ^_^</strong><br />-->
    <!--<em>{{title}}</em>-->
<!--</div>-->
<div id="kiosk-page">
    <div class="center-items" style="width: 100%">
        <div class="column">
            <h3>Top Guys</h3>
        </div>
        <div class="column">
            <h3>Top Gals</h3>
        </div>
        <div class="column">
            <h3>Input Scores</h3>
        </div>
        <div class="column">
            <h3>IDK?</h3>
        </div>
    </div>
</div>
