<md-toolbar class="application-toolbar center-items md-primary">
    <h1>CrossFit Fringe</h1>
</md-toolbar>
<!--<md-sidenav-container>-->
  <!--<md-sidenav class="left-sidenav" #leftNav mode="side"-->
              <!--align="left"-->
              <!--onClose="hideElement(menuIcon)"-->
              <!--opened="false">-->
      <!--Side Content-->
  <!--</md-sidenav>-->
    <!--<md-icon class="menu-icon"-->
             <!--[hidden]="leftNav.opened"-->
             <!--#menuIcon-->
             <!--(click)="leftNav.toggle()">menu</md-icon>-->
<!--</md-sidenav-container>-->
<router-outlet></router-outlet>
