@import "~bulma/sass/utilities/initial-variables";

$grey: #212121;
$cyan: #00ffff;
$warning: #ff3d3d;

$primary: $grey;
$primary-invert: $cyan;
$danger: $warning;

$fa-font-path: '~font-awesome/fonts' !default;